nav#navbar-main.navbar.navbar-main.navbar-expand-lg.navbar-theme-primary.navbar-light
    .container
        a.navbar-brand.shadow-soft.py-2.px-3.rounded.border.border-light.mr-lg-4(href='/dashboard')
            img.navbar-brand-dark(src='/public/images/gobierno_hidalgo.jpg' alt='Logo light')

            img.navbar-brand-light(src='/public/images/gobierno_hidalgo.jpg' alt='Logo dark')
            | &nbsp; Portal de Transparencia del Poder Ejecutivo del Estado de Hidalgo
        #navbar_global.navbar-collapse.collapse
            .navbar-collapse-header
                .row
                    .col-6.collapse-brand
                        a.navbar-brand.shadow-soft.py-2.px-3.rounded.border.border-light(href='../../index.html')
                            img(src='../../assets/img/brand/dark.svg' alt='Themesberg logo')
                    .col-6.collapse-close
                        a.fas.fa-times(href='#navbar_global' data-toggle='collapse' data-target='#navbar_global' aria-controls='navbar_global' aria-expanded='false' title='close' aria-label='Toggle navigation')
            ul.navbar-nav.navbar-nav-hover.align-items-lg-center
                li.nav-item.dropdown
                    a.nav-link(href='#' data-toggle='dropdown')
                        span.nav-link-inner-text Información
                        span.fas.fa-angle-down.nav-link-arrow.ml-2
                    ul.dropdown-menu
                        each val in Menu
                            li
                                a.dropdown-item(href="/page/" + val) !{val}


                
        .d-flex.align-items-center
            a.btn.btn-primary.text-secondary.d-none.d-md-inline-block.mr-3(href='#' )#closeSession
                i.far.fa-times-circle.mr-2
                |  Salir
            a.btn.btn-primary(href='https://github.com/leganux/big-head' target='_blank')
                i.fas.fa-book
                |  Documentación
            button.navbar-toggler.ml-2(type='button' data-toggle='collapse' data-target='#navbar_global' aria-controls='navbar_global' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
